.account__modal {
    main {
        margin-bottom: 16px;
        .field {
            height: 40px;
            width: 320px;
            label {
                width: 40px;
            }
            input {
                padding-left: 14px;
                font-size: 14px;
                height: inherit;
            }
        }
    }
    .container {
        width:100%;
    }
}