@import '../helpers/mixins.scss'; 

input,select,button {
    height:48px;
    border:none;
    background: transparent;
    &:focus + label {
		border-right: 1px solid #0066dc;
		i {
			color: #0066dc;
		}
	}
}

.login,
.signup {
    .btn {
        margin-top: 16px;
    }
}

.field {
    @include object(320px,100%,48px,#FFFFFF);
    border-radius: 4px;
    margin-top: 16px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    border: 1px solid #DCDCDC;

	&:focus-within {
        border: 1px solid #0066dc;
    }
    label {
        @include object(null,56px,32px,null);
        @include flex(center,center);
        border-right: 1px solid #a9a0a087;
        i {
            color: #A9A0A0;
            font-size: 21px;
        }
    }
    input {
        padding-left: 20px;
        font-weight: 400;
        font-size: 16px;
        color: #0066DC;
        width:100%;
        &::placeholder {
            color: #A9A0A0;
        }
    }
    select {
        padding: 0 20px;
        width: 100%;
        -webkit-appearance: none;
        background: transparent;
        background-image: url("data:image/svg+xml;utf8,<svg fill='%230066DC' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
        background-repeat: no-repeat;
        background-position-x: 92%;
        background-position-y: 12px;
        font-weight: 400;
        line-height: normal;
        font-size: 16px;
        color: #0066DC;
    }
}

.select-field {
    width:150px;
}

@media screen and (max-width:567px) {
    .form-center {
        width: 100%;
        padding: 0 20px;
    }
}