@import '../helpers/mixins.scss';

main {
    img {
        width:5%;
    }
}

.expense__options {
    width:100%;
    margin-bottom: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    .field {
        width: 260px;
        height: 40px;
        margin-right: 24px;
        margin-top: 0;
        label {
            width: 40px;
            height: 24px;
        }
        input {
            padding-left: 12px;
            -webkit-transform: translateY(2px);
                    -ms-transform: translateY(2px);
                transform: translateY(2px);
        }
    }
    .select__component {
        width: 260px;
        margin-right: 24px;
    }
    .btn__icon {
        margin-top: 0;
        height: 40px;
        padding: 0 12px;
        span {
            -webkit-transform: translateY(1px);
                    -ms-transform: translateY(1px);
                transform: translateY(1px); 
        }
    }
}

.expenses-list {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 16px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap:16px;
    padding-bottom: 16px;
}

.expense-card {
    background: #fff;
    min-height:232px;
    border: 1px solid rgba(212, 212, 212, 0.6);
    border-radius: 4px;
    padding-bottom: 20px;
}

.top-row {
    @include flex(center, space-between);
    margin-bottom: 20px;
    height: 56px;
    padding: 0 20px;
    border-bottom: 1px solid rgba(212, 212, 212, 0.6);
    .spentOn {
        font-style: normal;
        font-weight: 450;
        line-height: normal;
        font-size: 24px;
        color: #041A2A;
    }
    .amount {
        font-style: normal;
        font-weight: 450;
        line-height: normal;
        font-size: 20px;
        text-align: right;
    }
}

.mid-row {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
    margin-bottom: 8px;
    padding: 0 20px;
    .category,
    .time,
    .date {
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-size: 16px;
        color: #041A2A;
        opacity: 0.4;
        margin-right: 20px;
        margin-bottom: 16px;
        @include flex(center,null);
        i{
            padding-right: 15px;
            font-size:21px;
        }
        span {
            -webkit-transform: translateY(2px);
                    -ms-transform: translateY(2px);
                transform: translateY(2px);
        }
    }
}

.description {
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 16px;
    color: #041A2A;
    opacity: 0.4;
    margin-right: 40px;
    padding: 0 20px;
    @include flex(center,null);
    i{
        padding-right: 15px;
        font-size: 21px;
    }
    span {
        -webkit-transform: translateY(2px);
                -ms-transform: translateY(2px);
            transform: translateY(2px);
    }
}

.expense__action {
    margin-left: 16px;
    height: 32px;
    width: 32px;
    border: 1px solid #DCDCDC;
    border-radius: 4px;
    @include flex(center,center);
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    &:hover {
        background: #EC1A1A;
        i {
            color:#fff;
            opacity: 1;
        }
    }
    i {
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-size: 21px;
        color: #041A2A;
        opacity: 0.4;
    }
}

@media screen and (max-width:567px) {
    .expense__options {
        &>div {
            .field, .select__component, .radio__group__component {
                max-width:100%;
                width: 100%;
                margin-right: 0;
            }
            .radio__group__component {
                display: -ms-grid;
                display: grid;
                grid-auto-flow: column;
                -ms-grid-columns: 1fr 1fr;
                grid-template-columns: 1fr 1fr; 
                .radio__option {
                    label {
                        padding: 0;
                        width: 100%;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:768px) {
    .expenses-list {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:980px) {
    .expense__options {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        &>div {
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            .field, .select__component, .radio__group__component {
                margin-bottom: 16px;
            }
        }
    }
}