@import '../helpers/mixins.scss';

main {
    img {
        width:5%;
    }
}

#content {
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-column-gap:20px;
}

#filters {
    @include object(280px,100%,auto,null);
    border: 1px solid #E1E4E8;
    border-radius: 4px;
    padding: 20px;
    align-self: flex-start;
    label {
        margin-bottom: 16px;
        display: block;
        font-size:14px;
        font-weight:500;
        color:rgba(#041A2A,0.4);
    }
    input {
        @include object(100%,100%,48px,null);
        border:1px solid #E1E4E8;
        border-radius:4px;
        padding-left: 12px;
        font-size: 16px;
        &::placeholder {
            color:#9AA3AA;
        }
    }
    select {
        @include object(100%,100%,48px,null);
        border:1px solid #E1E4E8;
        border-radius:4px;
        padding-left: 8px;
        font-size: 16px;
        &::placeholder {
            color:#9AA3AA;
        }
        
    }
    button {
        height: 40px;
        padding: 0px 15px;
        background: rgb(49, 143, 254);
        border-radius: 4px;
        line-height: normal;
        font-size: 14px;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
    }
}

#section-title {
    height: 100px;
    @include flex(center, space-between);

    h1 {
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-size: 16px;
        color: #031A2A;
        margin-right: 20px;
        margin-bottom: 0;
    }

    button {
        @include object(null, 40px, 40px, #318FFE);
        border-radius: 50%;
        color: #fff;
        font-size: 28px;

        i {
            line-height: 40px;
        }
    }
}

.expense__options {
    width:100%;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    .field {
        width: 260px;
        height: 40px;
        margin-right: 24px;
        margin-top: 0;
        label {
            width: 40px;
            height: 24px;
        }
        input {
            padding-left: 12px;
            transform: translateY(2px);
        }
    }
    .select__component {
        width: 260px;
        margin-right: 24px;
    }
    .btn__icon {
        margin-top: 0;
        height: 40px;
        padding: 0 12px;
        span {
            transform: translateY(1px); 
        }
    }
}

.expenses-list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:16px;
    padding-bottom: 16px;
}

.expense-card {
    min-height:232px;
    border: 1px solid rgba(212, 212, 212, 0.6);
    border-radius: 4px;
    padding-bottom: 20px;
}

.top-row {
    @include flex(center, space-between);
    margin-bottom: 20px;
    height: 56px;
    padding: 0 20px;
    border-bottom: 1px solid rgba(212, 212, 212, 0.6);
    .spentOn {
        font-style: normal;
        font-weight: 450;
        line-height: normal;
        font-size: 24px;
        color: #041A2A;
    }
    .amount {
        font-style: normal;
        font-weight: 450;
        line-height: normal;
        font-size: 20px;
        text-align: right;
    }
}

.mid-row {
    display:flex;
    flex-wrap:wrap;
    margin-bottom: 8px;
    padding: 0 20px;
    .category,
    .time,
    .date {
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-size: 16px;
        color: #041A2A;
        opacity: 0.4;
        margin-right: 20px;
        margin-bottom: 16px;
        @include flex(center,null);
        i{
            padding-right: 15px;
            font-size:21px;
        }
        span {
            transform: translateY(2px);
        }
    }
}

.description {
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 16px;
    color: #041A2A;
    opacity: 0.4;
    margin-right: 40px;
    padding: 0 20px;
    @include flex(center,null);
    i{
        padding-right: 15px;
        font-size: 21px;
    }
    span {
        transform: translateY(2px);
    }
}

.expense__action {
    margin-left: 16px;
    height: 32px;
    width: 32px;
    border: 1px solid #DCDCDC;
    border-radius: 4px;
    @include flex(center,center);
    transition: 0.3s ease-in-out;
    &:hover {
        background: #EC1A1A;
        i {
            color:#fff;
            opacity: 1;
        }
    }
    i {
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-size: 21px;
        color: #041A2A;
        opacity: 0.4;
    }
}

@media screen and (max-width:567px) {
    #content {
        grid-template-columns: 100%;
    }
    #filters {
        max-width: 100%;
        margin-bottom: 20px;
    }
}
@media screen and (max-width:768px) {
    .expenses-list {
        grid-template-columns: 1fr;
    }
}