@import '../helpers/mixins.scss';

nav {
    height:60px;
    background: #0052CC;
    position: relative;
    & > .container {
        height:60px;
        position: relative;
        z-index: 10;
        @include flex(center,space-between);
        #logo {
            a {
                @include flex(center,null);
                img {
                    width:30px;
                    margin-right: 20px;
                }
            }
        }
    }
    #user-info-actions {
        display: flex;
    }
    .user__image {
        cursor: pointer;
        height: 40px;
        width: 40px;
        margin-right: 16px;
        border-radius: 50%;
        background: rgba(255,255,255,0.3);
        @include flex(center,center);
        color: #fff;
    }
}

@media screen and (max-width: 567px) {
    nav > .container #logo a {
        color: #0052CC;
    }
}