// 8 16 24 32 40 48

@for $i from 1 through 6 {
    .mt#{8 * $i} {
        margin-top: 8px * $i;
    }
    .mr#{8 * $i} {
        margin-right: 8px * $i;
    }
    .mb#{8 * $i} {
        margin-bottom: 8px * $i;
    }
    .ml#{8 * $i} {
        margin-left: 8px * $i;
    }
    .pt#{8 * $i} {
        padding-top: 8px * $i;
    }
    .pr#{8 * $i} {
        padding-right: 8px * $i;
    }
    .pb#{8 * $i} {
        padding-bottom: 8px * $i;
    }
    .pl#{8 * $i} {
        padding-left: 8px * $i;
    }
}
