.btn {
    @include object(null,null,40px,null);
    border-radius: 4px;
    padding: 0 16px;
    font-size: 16px;
    text-align: center;
    line-height: 42px;
    color: #FFFFFF;
    cursor: pointer;
}

.btn__primary {
    background: #0052CC;
}

.btn__overlay__dark {
    background: rgba(255, 255, 255, 0.3);
}

.btn__icon {
    display: flex;
    align-items: center;
    i {
        margin-right: 8px;
    }
    span {
        transform: translateY(2px);
    }
}