@import './helpers/variables.scss';
@import './helpers/mixins.scss';
@import './helpers/spacings.scss';
@import './base/typography.scss';
@import './base/reset.scss';
@import './base/grid.scss';
@import './layout/navbar.scss';
@import './layout/header.scss';
@import './layout/main.scss';
@import './layout/form.scss';
@import './layout/expense.scss';
@import './layout/datepicker.scss';
@import './layout/tabs.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--font);
}

body {
    background: #F9F9F9;
}

#home {
    background-image: url('https://res.cloudinary.com/prvnbist/image/upload/v1561219822/Expense%20App/expense_bg.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#logo {
    font-weight: 400;
    line-height: normal;
    font-size: 18px;

    a {
        color: #FFFFFF;
        @include flex(center, null);
    }

    img {
        width: 30px;
        margin-right: 20px;
    }
}

.active {
    border-bottom: 3px solid #fff;
    padding-bottom: 20px;
}

.error-message {
    padding-top: 8px;
    color: red;
    display: block;
}

.popup-card {
    .cateogriesSpentOn {
        width: 350px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        span {
            font-size: 18px;
            font-weight: 400;
            &:first-child {
                color: #041A2A;
            }
            &:last-child {
                color: #EC1A1A;
            }
        }
    }
}
@media screen and (max-width:576px) {
    .login {
        height: calc(100vh - 149px);
    }
    #home {
        padding-bottom: 16px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    #logo {
        a {
            font-size: 16px;
        }
    }
    .top-nav #logo {
        width: 30px;
        color: transparent;
    }
    .dashboard-header {
        height: auto;
    }
    #total-expenses {
        grid-template-columns: 100%;
    }
    #user-account-info {
        margin: 60px auto 20px;
    }
    .expense-wrapper {
        margin: 20px 0 0;
    }
    .expense-card {
        height: auto;
    }
    .mid-row {
        flex-direction: column;
        .category,
        .time {
            margin-bottom: 16px;
        }
    }
    .top-row {
        .spentOn {
            font-size: 18px;
        }
        .amount {
            font-size: 16px;
        }
        .deleteExpense {
            i {
                font-size: 20px;
            }
        }
    }
    #expense-popup-card {
        height: 100%;
        overflow-y: scroll;
        div:nth-child(2) {
            grid-template-columns: 1fr;
        }
    }

    .popup-card {
        height: 100%;
        width: 100%;
        padding: 40px;
        grid-template-columns: 1fr;
        grid-row-gap: 40px;
        #left {
            width: 100%;
        }
        .cateogriesSpentOn {
            width: 100%;
        }
    }
    .cateogriesSpentOn {
        span {
            font-size: 16px;
        }
    }

}
@media screen and (max-width:576px) {
    #showStatsButton {
        display: none;
    }
}

.page-heading {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 37px;
    display: flex;
    align-items: center;
    color: #1B2C44;
    margin-bottom: 24px;
}
