.container {
    @include object(1180px,calc(100% - 40px),null,null);
    margin: 0 auto;
}

.container-fluid {
    @include object(100%,null,null,null);
}

.full-height {
    height:100vh;
}

.row {
    display: grid;
    grid-gap: 20px;
    margin-bottom: 20px;
}

.span-8-4 {
    grid-template-columns: 2fr 1fr;
}

.span-2-10 {
    grid-template-columns: 1fr 5fr; 
}

.span-3-9 {
    grid-template-columns: 1fr 3fr;
}

.span-4-8 {
    grid-template-columns: 1fr 2fr;
}

.span-12 {
    grid-template-columns: 1fr;
}
